/***********************************************************
  *                                                        *
  *    flex-boxes cheatsheets keyboard shortcut is ctrl+;  *  
  *                                                        *
  ********************************************************** */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  height: 100%;
}

.card {
  width: 90%;
  height: 90%;
}

.navContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 100%;
}

.container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 100%;
}

/* side note: dont know why TaskSlicer(under login/signup isnt 
exactly centered enough? */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}