  :root {
    --bg-color: rgba(228, 232, 222, 0.586);
    --text-color: black;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

body.dark {
    --bg-color: #222; /* almost black */
    --text-color: white;
}
body.dark  .borderColor{
  border: .1rem solid white;
}
.borderColor{
  border: .1rem solid black;
  margin: .1rem;
}
.navContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 150%;
    background-color:coral;
    padding: 10vh;
  
}
.container {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  /* grid-template-columns: [main-start] repeat(12, 1fr) [main-last]; */
  grid-template-columns: [main-start] [main-last];
  grid-template-rows: [main-start] 40px auto 40px [main-last];
  justify-content: center;
}
.taskContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
.tasks-view{
  grid-column: main-start / main-last;
  /* grid-row: 1 / 3; */
}
.task-name{
  font-size: large;
  text-transform: capitalize;
}
.task-description{
  font-size: medium;
}
.showInput {
  display:block;
}
.hideInput {
  display: none;
}
