/***********************************************************
  *                                                        *
  *    flex-boxes cheatsheets keyboard shortcut is ctrl+;  *  
  *                                                        *
  ********************************************************** */
  :root {
    --bg-color: white;
    --text-color: black;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

body.dark {
    --bg-color: #222; /* almost black */
    --text-color: white;
}
  .navContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 150%;
    background-color:coral;
    padding: 10vh;
  
  }
.container {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
  justify-content: center;
  /* grid-template-areas: 
      ". h h h h h h h h h h ."
      "m c c c c c c c c c c c"
      ". f f f f f f f f f f .";
} */
}
.tasks-view{
  grid-column: 1 / 3;
  justify-content: center;
  /* grid-row: 1 / 3; */
}


/* .card {
  width: 90%;
  height: 90%;
} */

/* .container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 100%;
} */

/* side note: dont know why TaskSlicer(under login/signup isnt 
exactly centered enough? */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.showInput {
  display:block;
}
.hideInput {
  display: none;
}
