  :root {
    --bg-color: white;
    --text-color: black;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

body.dark {
    --bg-color: #222; /* almost black */
    --text-color: white;
}
.navContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 150%;
    background-color:coral;
    padding: 10vh;
  
}
.container {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  /* grid-template-columns: [main-start] repeat(12, 1fr) [main-last]; */
  grid-template-columns: [main-start] [main-last];
  grid-template-rows: [main-start] 40px auto 40px [main-last];
  justify-content: center;
  /* grid-template-areas: 
      ". h h h h h h h h h h ."
      "m c c c c c c c c c c c"
      ". f f f f f f f f f f .";
} */
}
.tasks-view{
  grid-column: main-start / main-last;
  /* grid-row: 1 / 3; */
}
.task-name{
  font-size: large;
  text-transform: capitalize;
}
.task-description{
  font-size: medium;
}
/***********************************************************
  *                                                        *
  *    flex-boxes cheatsheets keyboard shortcut is ctrl+;  *  
  *                                                        *
  ********************************************************** */

.showInput {
  display:block;
}
.hideInput {
  display: none;
}
